@import "variables";

.button {
  font-size: $font-size-large;
  border-radius: 5px;
  
  &.button-primary {
    background-color: $primary-color;
    
    &:hover {
      background-color: $primary-color-hover;
    }
  }
  
  &.button-secondary {
    background-color: $secondary-color;
    
    &:hover {
      background-color: $secondary-color-hover;
    }
  }
}

