$font-size-large: 28px + 10px;
$font-size-small: 10px;

$font-family: Arial, Helvetica, sans-serif;

$primary-color: #006699;
$primary-color-hover: #003366;

$secondary-color: #ffe466;
$secondary-color-hover: #eed033;